doctype 5
html
	head
		link(rel='stylesheet', href='/stylesheet/style.css')
		link(rel='stylesheet', href='/stylesheet/bootstrap-responsive.css')
		link(rel='stylesheet', href='/stylesheet/bootstrap.css')
		script(src='/javascript/jquery-1.8.2.min.js')
		script(src='/javascript/login.js')
		script(src='/javascript/bootstrap.js')
	body
		div(class='container-fluid thisone')
			h1 GroupNote
			p(class='lead') Welcome to homepage
			p Logged in as #{username}
		
			a(href='/logout') Log Out