doctype 5
html
	head
		link(rel='stylesheet', href='/stylesheet/style.css')
		link(rel='stylesheet', href='/stylesheet/bootstrap-responsive.css')
		link(rel='stylesheet', href='/stylesheet/bootstrap.css')
		script(src='/javascript/jquery-1.8.2.min.js')
		script(src='/javascript/registration.js')
		script(src='/javascript/bootstrap.js')
	body
		div(class='container-fluid thisone')
			h1 GroupNote
			p(class='lead') Registration
			

				div(class='regform')
					form(id='registerform', action='', method='POST', class='form-horizontal')
						div(class='control-group', id='username-control-group')
							label(for='username', class='control-label') Username
							div(class='controls')
								input(type='text', name='username', id='username')
								span(class='help-inline')
						div(class='control-group', id='email-control-group')
							label(for='email', class='control-label') Email
							div(class='controls')
								input(type='text', name='email')
								span(class='help-inline')
						div(class='control-group', id='password1-control-group')
							label(for='password1', class='control-label') Password
							div(class='controls')
								input(type='password', name='password')
						div(class='control-group', id='password2-control-group')
							label(for='password2', class='control-label') Repeat Password
							div(class='controls')
								input(type='password', name='password2')
								span(class='help-inline')
						div(class='control-group')
							div(class='controls')
								input(type='submit', value='Register', class='btn btn-primary')